<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ MEDIA_URL }}images/ico/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{ MEDIA_URL }}images/ico/favicon-32x32.png" sizes="32x32">
    <link rel="icon" href="{{ MEDIA_URL }}images/ico/favicon-32x32.png" sizes="192x192">
    <link rel="apple-touch-icon" href="{{ MEDIA_URL }}images/ico/apple-touch-icon.png">
    <link rel="icon" href="{{ MEDIA_URL }}images/ico/android-chrome-192x192.png" sizes="192x192" type="png">
    <link rel="icon" href="{{ MEDIA_URL }}images/ico/android-chrome-512x512.png" sizes="512x512" type="png">
    <script src="{% static 'JS/ajax.js' %}"></script>
    <title>ElectroMart</title>
    <link rel="stylesheet" href="{% static 'CSS/search.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/All.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/notification.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.4/nouislider.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.4/nouislider.min.js"></script>
    <script src="https://kit.fontawesome.com/947ffa6964.js" crossorigin="anonymous"></script>
</head>

<body>

    {% include 'header.html' %}

    <section class="hero">
        <h2>Welcome to ElectroMart</h2>
        <p>Your one-stop shop for all things electronics!</p>
    </section>
    <div class="main-container">
        <div id="product-container">
        </div>
        <div id="right-sidebar">
            <div id="sort-filter">
                <h4>Sort by Price</h4>
                <select id="sort-price">
                    <option value="none">None</option>
                    <option value="asc">Low to High</option>
                    <option value="desc">High to Low</option>
                </select>
            </div>
            <div id="price-filter">
                <h4>Price Filter</h4>
                <div id="price-range"></div>
                <div id="price-display"></div>
                <button id="price-filter-button">Search</button>

            </div>
            <div id="brand-filter">
                <h4>Filter by Brand</h4>
                <div id="brand-options"></div>
                <button id="brand-filter-button">Apply Brand Filter</button>
            </div>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 ElectroMart. All rights reserved.</p>

        <select id="currency-select">
            <option value="USD">دولار امريكي</option>
            <option value="EGP">جنيه مصري</option>
            <option value="SAR">ريال سعودي</option>
            <option value="SYP">ليرة سورية</option>
            <option value="YER">ريال يمني</option>
            <option value="SDG">جنيه سوداني</option>
            <option value="KWD">دينار كويتي</option>
        </select>
        
        <ul>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
    </footer>

    <script>
        const MEDIA_URL = "{{ MEDIA_URL }}";
    </script>

    <script src="{% static 'JS/scripts.js' %}"></script>
    <script src="{% static 'JS/product.js' %}"></script>
    <script src="{% static 'JS/searchproducts.js' %}"></script>
</body>
</html>
